# requirements for python backend
fastapi==0.141.1
uvicorn==0.52.3
pydantic==2.13.4

# testing
pytest

# opencv
opencv-python-headless==5.0.0.93

# plotting
matplotlib==3.11.1

# pdf generation
reportlab==5.0.0


# raspberry pi
picamera2==0.3.37
adafruit-circuitpython-neopixel==6.4.2
