nav{
    width: 100%;
    background-color: #202020;
    color: #fffffe;
    padding: 6px 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    z-index: 10;
}
.logo{
    width: auto;
    height: 45px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 15px 50px;
    font-size: 18px;
}
.menu-icon{
    display: none;
}

/* --- responsive --- */
@media (max-width: 1000px){
    .logo{
        width: auto;
        height: 45px;
    }    
    nav ul li{
        margin: 15px 15px;
    }
}
@media (max-width: 840px){
    nav{
        padding: 10px 0;
    }
    nav ul{
        position: fixed;
        top: 0;
        right:0;
        bottom: 0;
        background: #202020;
        z-index: -1;
        width: 200px;
        padding-top: 70px;
        transition: 0.5s;
    }
    nav ul li{
        display: block;
        margin: 20px 40px;
    }
    .menu-icon{
        display: block;
        width: auto;
        height: 40px;
        cursor: pointer;
   
    }
    .hide-mobile-menu{
        right: -200px;
    }
}